<h1>list rx by days with hours</h1>

<table>
  <tr>
    <th></th>
    <th>rx</th>
    <th>date</th>
    <th>usage minutes</th>
  </tr>
   
<% @rx_by_days = RxByDay.all %>
  <tr>
     <td><%=rx_by_hour.rx%></td>
    <td><%=rx_by_hour.date1%></td>
    <td><%=rx_by_hour.hour%></td>
    <td><%= "%.2f" % (((rx_by_hour.count_seconds).to_f)/60)%> </td>
   
  </tr>
<% end %>
</table>
