
<br>
<br>
<br>


<br />
<table>
  <tr>
    <th></th>
    <th>tx</th>
    <th>date</th>
    <th>usage minutes</th>
  </tr>

<% @tx_by_days.each do |tx_by_day| %>
  <tr>
    <td class="txchange txplus">+</td>
    <td><%=tx_by_day.tx%></td>
    <td><%=tx_by_day.date1%></td>
    <td><%= "%.2f" % (((tx_by_day.count_minutes).to_f)/60)%></td>
   
  </tr>
<% end %>
</table>

<br />

