<%= javascript_include_tag "highcharts" %>
<h1>show to one day the sum of usage with tx in any hour</h1>
<br>
<br>

<div id="container"></div>

<table class="table" id="datatable2"  >
  <thead>
  <tr>
    
   <th>hour</th> 
   <th>usage minutes </th>
  </tr>
  </thead>

<% @tx_by_hours.each do |tx_by_hour| if tx_by_hour.tx=="112233445566" %>
<tbody>
  <tr>
  
      <th class="thour'"><%=tx_by_hour.hour%></th>  
    <td><%= "%.2f" % (((tx_by_hour.count_seconds).to_f)/60)%> </td>  
  </tr>
  <%end 
    end  %> 
  </tbody>
</table>

 
