/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*header
{
	color: #ffaa56;
	text-align: center;
	font-size: 40px;
} 


header span{

	margin-left: 1px;
	margin-right: 1px;
	border: 2px solid #C4AFD0;
	padding: 10px 10px 15px 10px;
	border-bottom: none;
	border-radius: 4px 0 4px 4px;
	-webkit-border-radius: 4px 0px 4px 4px;
	-moz-border-radius: 4px 0px 4px 4px;
	background-color: #F0F0FF;

}
table {

	margin:0px;padding:0px;

	
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #776a6a;

	

	-moz-border-radius-bottomleft:5px;

	-webkit-border-bottom-left-radius:5px;

	border-bottom-left-radius:5px;

	

	-moz-border-radius-bottomright:5px;

	-webkit-border-bottom-right-radius:5px;

	border-bottom-right-radius:5px;

	

	-moz-border-radius-topright:5px;

	-webkit-border-top-right-radius:5px;

	border-top-right-radius:5px;

	

	-moz-border-radius-topleft:5px;

	-webkit-border-top-left-radius:5px;

	border-top-left-radius:5px;

} table{

	width:50%;

	height:70%;

	margin:auto;

}

table td{

	vertical-align:middle;

	background:-o-linear-gradient(bottom, #ffaa56 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaa56), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #ffaa56 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa56", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffaa56,ffffff);


	background-color:#ffaa56;


	border:1px solid #776a6a;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:5px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#000000;

}

table th{

		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);


	background-color:#ff7f00;

	border:0px solid #776a6a;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:22px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

	height: 24px;

}



 h1 {
 	font-size: 35px;
    text-align: center;
}

#txsearch
{
	color: gray;
	float: right;
	background-color:white; 
}

a {
	
	font-size: 20px;
	margin-left: 40px;
	color: blue;
}
table tr td div
{
	width: 700px%;
}
#container
{
height: 600px;
width: 100%;
}
*/




body{	
	background-color: #222222;
    color: #696969;
    font-family: 'Telex', sans-serif;
    font-size: 0.85em;
}

.connect_div{
	width:800px;
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}


#header{
	text-align: center;
}
#header span{
	margin-left: 1px;
	margin-right: 1px;
	border: 2px solid #C4AFD0;
	padding: 10px 10px 15px 10px;
	border-bottom: none;
	border-radius: 4px 0 4px 4px;
	-webkit-border-radius: 4px 0px 4px 4px;
	-moz-border-radius: 4px 0px 4px 4px;
	background-color: #F0F0FF;
	
	}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
#content{
	/*overflow: scroll;*/
	padding: 30px 30px 15px 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:30px;
	background-color: #F0F0FF;
	margin-bottom: 30px;
	border-radius: 4px 0 4px 4px;
	-webkit-border-radius: 4px 0px 4px 4px;
	-moz-border-radius: 4px 0px 4px 4px;
}
#footer {
    font-size: 0.9em;
    line-height: normal;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
#header a:hover {
	color: red;
}

table {
	display: block;
    background-color: #F0F0F0;
    border: 2px solid #000000;
    border-radius: 8px 8px 8px 8px;
    border-spacing: 10px;
    color: #000000;
    margin: 0 20px;
    padding-left: 50px;
    border-collapse: separate;
    /*border-spacing: 2px;*/

}
table td{
	padding-left: 40px;
}
table  th {
	font-size: 20px;
	padding: 20px 0px 10px 20px;
}
#tdetails{
	width: 300px;
    border: 1px solid #000000;
    border-radius: 8px 8px 8px 8px;
    border-spacing: 10px;
    border-collapse: separate;
}
#tdetails th{

 }
 .extendedRowTable tr th{

  font-size: 14px;
}
.extendedRowTable td {
	padding: 0px 0px 0px 30px;
	text-align: center;
  font-size: 10px;
}
.extendedRowTable{
    border: 2px solid #000000;
    border-radius: 8px 8px 8px 8px;
    border-spacing: 10px;
    border-collapse: separate;
}

.connect_div{
	width: 200px;	
}
.comments
{
	height: 70px;
	width: 300px;
	overflow: scroll;
	border-style: solid;
	border-width:thin;
}



.content_comments
{
	height: 90px;
	width: 550px;
	overflow: scroll;
	border-style: solid;
	border-width:thin;
}
.content_comments p
{
 margin: 0px;
}

.div_comment
{
	width:595px;
}
.div_comment input
{
   float:right;
   width:48px;
   height: 28px;
}
.div_comment p
{
	margin: 0px;
}
th,td {text-align: center;}
.index_table th{
	width:100px;
    text-align: center;}