<h1>count of usage tx in every day show by hour</h1>
<br>
<br>

<table >
  <tr>
    <th>tx</th>
    <th>date</th>
    <th>hour</th>
    <th>usage minutes</th>
  </tr>

<% @tx_by_hours.each do |tx_by_hour| %>
  <tr>
    <td><%=tx_by_hour.tx%></td>
    <td><%=tx_by_hour.date1%></td>
    <td><%=tx_by_hour.hour%></td>
    <td><%= "%.2f" % (((tx_by_hour.count_seconds).to_f)/60)%></td>
    
  </tr>
<% end %>
</table>

<br />

